@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GotFont';
  src: url('./assets/fonts/FtVortex-G3ZDy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}